{
  "port": 9000,
  "testnet": false,
  "navconf": "C:/Users/paul/AppData/Roaming/NavCoin4/navcoin.conf",

  "releaseAPI": "https://api.github.com/repos/NAVCoin/navcoin-core/releases/latest",

  "os": "win64",

  "startDaemon": true,
  "daemonName": "navcoind.exe",

  "rpc":{
    "username": "",
    "password": "",
    "port" : 44444
  },

  "testnetPort": 44445

}